@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.markup {
  @apply border border-red-500;
}

.markup2 {
  @apply border border-blue-500;
}

.markup3 {
  @apply border border-green-500;
}

@keyframes enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-enter {
  animation: enter 0.2s ease-out;
}

@keyframes leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animate-leave {
  animation: leave 0.15s ease-in forwards;
}

.centerXY {
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
}

.centerX {
  left: 50%;
  transform: translate(-50%, 0);
}

.centerY {
  top: 50%;
  transform: translate(0, -50%);
}

.padSidebarSize {
  @apply pl-[50px];
}

.active {
  @apply scale-110 bg-purple-600;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  height: 15px;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
  @apply bg-purple-600;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.table-scroll::-webkit-scrollbar-track {
  border-radius: 100px;
}

..table-scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
}

.table-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgb(148, 163, 184) rgb(203, 213, 225);
}

.swiper {
  @apply w-[300px];
}

.swiper-slide {
  @apply h-[400px];
}
